.App {
  background-color: #e6e6e6;
  text-align: center;
}

.App-Loading {
  background-color: #e6e6e6;
  text-align: center;
  vertical-align: middle;
  height: 100vmin;
}
.App-logo {
  height: 17vmin;
  align-items: center;
}
.App-title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-weight: bold;
	font: verdana;
	color: #004977;	
	
}
.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-Date-Boxes{
   float: center;
   font-size: calc(10px + 2vmin);
}
.App-CheckBoxes{
   //font-size: calc(10px + 2vmin);
   transform: scale(1.5);
   
}
.App-caution-bar {
  background-color: #ffff00;
  height: 5vmin;
  width: 100%;
}

.App-warning-bar {
  background-color: #ff0000;
  height: 5vmin;
  width: 100%;
}

.App-link {
  color: #ad2020;
}

.App-data-table {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}