.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  align-items: center;
}

.App-header {
  background-color: #dbdbdb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-status-bar {
  background-color: #ffff00;
  height: 10vmin;
  width: 100vmin;
}

.App-link {
  color: #ad2020;
}

.App-data-table {
  height: 60min;
  width: 100vmin;
  padding: 10px;
}