.App {
  background-color: #e6e6e6;
  text-align: center;
}

.App-logo {
  height: 20vmin;
  align-items: center;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-Date-Boxes{
   float: center;
}
.App-CheckBoxes{
   font-size: calc(10px + 2vmin);
}
.App-caution-bar {
  background-color: #ffff00;
  height: 5vmin;
  width: 100%;
}

.App-warning-bar {
  background-color: #ff0000;
  height: 5vmin;
  width: 100%;
}

.App-link {
  color: #ad2020;
}

.App-data-table {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}